.AdminLayout {
  background-color: #f6f8f9;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .rightAdmin {
    padding: 0 20px;
  }

  .myRow {
    background: #ffffff;
    border-radius: 24px;
    padding-top: 28px;
    padding-bottom: 28px;

    .navbarWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #353437;
        display: flex;
        align-items: center;

        span {
          margin-left: 10px;
        }
      }
    }

    input,
    select {
      border: none;
      background-color: transparent;
    }

    .inputWrap {
      display: flex;
      align-items: center;
      background: #f5f5f7;
      border-radius: 8px;
      padding: 14px 22px;
    }

    .btn {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #3c4bdc;
      padding: 16px 32px;
      display: flex;
      align-items: center;
      border: 1px solid #3c4bdc;
      border-radius: 16px;
    }
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
    border-radius: 16px;
    padding: 44px;
    padding-bottom: 100px;

    a {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      transition: all 0.3s ease-in-out;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #5d5d5f;

      i {
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
      }

      &.last {
        margin-top: 80px;
      }

      &:hover,
      &.active {
        color: #3c4bdc;

        i {
          background-color: #3c4bdc;
        }
      }
    }
  }

  .bottomRow {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 50px;

    .leftSide {
      position: sticky;
      top: 30px;
    }
  }
}

.JournalMain {
  .topWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: #020105;
    }

    .inputWrap {
      display: flex;
      align-items: center;
      background: #ffffff;
      border-radius: 8px;
      padding: 14px 22px;
      width: 340px;

      input {
        border: none;
        background-color: transparent;
        margin-left: 10px;
      }
    }

    .search {
      display: flex;
      align-items: center;

      .btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        background: #3c4bdc;
        border-radius: 8px;
        padding: 16px 56px 16px 60px;
        margin-left: 20px;
      }
    }
  }

  .bottomWrap {
    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 130px;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cards {
      margin-top: 30px;
      display: flex;
      background: #ffffff;
      box-shadow: 0px 1px 4px rgba(33, 33, 52, 0.1);
      border-radius: 16px;
      padding: 10px;
      justify-content: space-between;

      .mid {
        margin: 0 12px;
        width: 45%;

        h2 {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 8px;
          color: #5d5d5f;
        }

        h3 {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #020105;
          margin-bottom: 17px;
        }

        h4 {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #353437;

          b {
            color: #5d5d5f;
            font-weight: 400;
          }
        }
      }

      .cardFooter {
        margin-top: 17px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #5d5d5f;
        }
      }

      .editWrap {
        display: flex;
        margin-top: 15px;

        .btn {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;

          &.delete {
            background-color: #ffefef;
            margin-left: 8px;
          }

          &.edit {
            background-color: #eeefff;
          }
        }
      }
    }
  }
}

.CreateJournalForm {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;

  .nav {
    margin-bottom: 30px !important;

    .nav-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #353437;
      border-radius: 0 !important;
      background: transparent !important;
      border: 0 !important;
      margin-right: 40px;

      &.active {
        color: #3c4bdc !important;
        border-bottom: 2px solid #3c4bdc !important;
      }
    }
  }

  .CreateJournalRu {
    h1 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #010e38;
      margin-bottom: 16px;
    }

    .imgWrap {
      position: relative;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;

      input {
        position: absolute;
        opacity: 0;
        top: 40%;
        left: 0;
      }

      label {
        background: #f6f8f9;
        border-radius: 8px;
        height: 337px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .fileWrap {
      position: relative;
      overflow: hidden;

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      label {
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3c4bdc;
        border: 1px solid #3c4bdc;
        border-radius: 8px;
        padding: 16px 30px;
      }
    }

    input {
      padding: 20px 12px;
      margin-bottom: 24px;
    }

    input,
    textarea {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #9a999b;
      background: #f6f8f9;
      border: 1px solid #ebebeb;
      border-radius: 8px;
    }

    .buttonWrap {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 90px;

      .btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 16px 65px;
        border-radius: 8px;

        &.back {
          background: #f5f5f7;
        }

        &.save {
          background: #3c4bdc;
          color: #ffffff;
          margin-left: 24px;
        }
      }
    }
  }
}

.JournalDeleteModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c4bdc3d;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;

  .modalCards {
    filter: drop-shadow(0px 2px 15px rgba(33, 33, 52, 0.1));
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    transform: translateY(-15px);

    .cardsHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 24px;
      background-color: #f6f8f9;
      border-radius: 10px 10px 0 0;

      h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #020105;
      }
    }

    .cardsBody {
      text-align: center;

      span {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 8px;
      }

      h2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #353437;
        margin-bottom: 39px;
      }
    }

    .cardsFooter {
      border-top: 1px solid rgba(192, 192, 192, 0.267);
      padding: 16px 24px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #353437;
        border-radius: 8px;
        padding: 16px 52px;

        &.back {
          background: #ffffff;
          border: 1px solid #dcdce4;
        }

        &.del {
          color: #d02b20;
          background: #fcecea;
          border: 1px solid #f5c0b8;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .modalCards {
      transform: translateY(0);
    }
  }
}
