@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

#root {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #000;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #666;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .cursor {
    cursor: pointer;
  }

  .form-control {
    &:focus {
      box-shadow: 0 0 10px #3c4bdc85 !important;
    }
  }

  .container {
    @media (min-width: 1200px) {
      max-width: 1640px;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;

  mask-size: 100%;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;

  background-color: #9a999b;

  &.icon1 {
    mask-image: url("../assets/icons/nav1.svg");
    -webkit-mask-image: url("../assets/icons/nav1.svg");
  }

  &.icon2 {
    mask-image: url("../assets/icons/nav2.svg");
    -webkit-mask-image: url("../assets/icons/nav2.svg");
  }

  &.icon3 {
    mask-image: url("../assets/icons/nav3.svg");
    -webkit-mask-image: url("../assets/icons/nav3.svg");
  }

  &.icon4 {
    mask-image: url("../assets/icons/nav4.svg");
    -webkit-mask-image: url("../assets/icons/nav4.svg");
  }

  &.icon5 {
    mask-image: url("../assets/icons/nav5.svg");
    -webkit-mask-image: url("../assets/icons/nav5.svg");
  }

  &.icon6 {
    mask-image: url("../assets/icons/nav6.svg");
    -webkit-mask-image: url("../assets/icons/nav6.svg");
  }

  &.icon7 {
    mask-image: url("../assets/icons/nav7.svg");
    -webkit-mask-image: url("../assets/icons/nav7.svg");
  }

  .d-flex {
    display: flex !important;
  }
}
